In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("TRE_df.csv", index_col='orispl')
df

,Unnamed: 0,ba,co21,co210,co211,co212,co213,co214,co215,co216,...,fuel_type,prime_mover,year_online,is_gas,is_coal,is_oil,is_nuclear,is_hydro,is_geothermal,is_biomass
orispl,,,,,,,,,,,,,,,,,,,,,
10298,0,ERCO,770.120759,774.394152,775.919184,746.145467,760.296533,761.766970,761.246543,828.448189,...,gas,ct,2011.0,1,0,0,0,0,0,0
10298,1,ERCO,804.220977,741.083606,719.213033,700.696749,724.433239,719.174196,729.692283,892.549176,...,gas,ct,2011.0,1,0,0,0,0,0,0
10298,2,ERCO,783.656338,859.305792,849.149100,788.450493,800.218410,798.280779,798.864403,848.176926,...,gas,ct,2011.0,1,0,0,0,0,0,0
10298,3,ERCO,793.077444,859.305792,832.561718,802.668973,791.499854,779.612109,783.772495,827.552436,...,gas,ct,2011.0,1,0,0,0,0,0,0
10741,4,ERCO,528.085905,534.714887,832.561718,638.694894,503.216295,515.663053,522.600590,827.552436,...,gas,ct,1985.0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3494,255,ERCO,376.769704,376.769704,376.769704,376.769704,376.769704,376.769704,376.769704,376.769704,...,gas,gt,1988.0,1,0,0,0,0,0,0
3494,256,ERCO,1144.259515,1144.259515,1144.259515,1144.259515,1144.259515,1144.259515,1144.259515,1144.259515,...,gas,gt,1990.0,1,0,0,0,0,0,0
3494,257,ERCO,1048.495444,1048.495444,1048.495444,1048.495444,1048.495444,1048.495444,1048.495444,1048.495444,...,gas,gt,1990.0,1,0,0,0,0,0,0
4937,258,ERCO,596.605798,596.605798,596.605798,596.605798,596.605798,596.605798,596.605798,596.605798,...,gas,ct,2014.0,1,0,0,0,0,0,0
4937,259,ERCO,587.361651,587.361651,587.361651,587.361651,587.361651,587.361651,587.361651,587.361651,...,gas,ct,2014.0,1,0,0,0,0,0,0

In [21]:
co2_df = df.loc[:, df.columns.str.startswith('co2')]
co2_df

,co21,co210,co211,co212,co213,co214,co215,co216,co217,co218,...,co248,co249,co25,co250,co251,co252,co26,co27,co28,co29
orispl,,,,,,,,,,,,,,,,,,,,,
10298,770.120759,774.394152,775.919184,746.145467,760.296533,761.766970,761.246543,828.448189,811.718303,776.488856,...,734.187437,790.061719,767.507310,773.685843,793.786875,756.624089,755.286031,749.311688,766.720861,768.355678
10298,804.220977,741.083606,719.213033,700.696749,724.433239,719.174196,729.692283,892.549176,798.593601,849.585952,...,759.777256,767.104963,693.698010,806.544164,830.224893,764.716091,693.999303,684.237226,721.428071,702.077333
10298,783.656338,859.305792,849.149100,788.450493,800.218410,798.280779,798.864403,848.176926,821.056424,802.288273,...,836.146431,859.935781,791.888753,790.651245,774.078929,785.829112,789.697107,770.363656,807.574097,789.820603
10298,793.077444,859.305792,832.561718,802.668973,791.499854,779.612109,783.772495,827.552436,765.190826,772.570452,...,765.838246,774.033653,799.972227,764.539824,768.250114,774.157726,780.748341,767.245496,796.219938,791.486043
10741,528.085905,534.714887,832.561718,638.694894,503.216295,515.663053,522.600590,827.552436,765.190826,772.570452,...,765.838246,774.033653,527.778189,551.436680,768.250114,774.157726,533.455795,516.054418,796.219938,499.332920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3494,376.769704,376.769704,376.769704,376.769704,376.769704,376.769704,376.769704,376.769704,376.769704,376.769704,...,376.769704,376.769704,376.769704,376.769704,376.769704,376.769704,376.769704,376.769704,376.769704,376.769704
3494,1144.259515,1144.259515,1144.259515,1144.259515,1144.259515,1144.259515,1144.259515,1144.259515,1144.259515,1144.259515,...,1144.259515,1144.259515,1144.259515,1144.259515,1144.259515,1144.259515,1144.259515,1144.259515,1144.259515,1144.259515
3494,1048.495444,1048.495444,1048.495444,1048.495444,1048.495444,1048.495444,1048.495444,1048.495444,1048.495444,1048.495444,...,1048.495444,1048.495444,1048.495444,1048.495444,1048.495444,1048.495444,1048.495444,1048.495444,1048.495444,1048.495444
4937,596.605798,596.605798,596.605798,596.605798,596.605798,596.605798,596.605798,596.605798,596.605798,596.605798,...,596.605798,596.605798,596.605798,596.605798,596.605798,596.605798,596.605798,596.605798,596.605798,596.605798
4937,587.361651,587.361651,587.361651,587.361651,587.361651,587.361651,587.361651,587.361651,587.361651,587.361651,...,587.361651,587.361651,587.361651,587.361651,587.361651,587.361651,587.361651,587.361651,587.361651,587.361651

In [22]:
# Perform calculations
co2_summary = pd.DataFrame()
co2_summary['mean'] = co2_df.mean(axis=1)
co2_summary['std'] = co2_df.std(axis=1)
co2_summary['min'] = co2_df.min(axis=1)
co2_summary['max'] = co2_df.max(axis=1)
co2_summary['range'] = co2_summary['max'] - co2_summary['min']
co2_summary

               mean           std          min          max       range
orispl
10298    780.959949  2.691239e+01   723.726643   853.954901  130.228258
10298    782.414972  7.094793e+01   544.311000   892.549176  348.238176
10298    812.734064  2.533521e+01   752.960324   859.935781  106.975457
10298    814.025628  3.065461e+01   755.761832   862.790840  107.029008
10741    613.609164  1.179763e+02   499.332920   843.148412  343.815492
...             ...           ...          ...          ...         ...
3494     376.769704  5.739800e-14   376.769704   376.769704    0.000000
3494    1144.259515  2.295920e-13  1144.259515  1144.259515    0.000000
3494    1048.495444  2.295920e-13  1048.495444  1048.495444    0.000000
4937     596.605798  0.000000e+00   596.605798   596.605798    0.000000
4937     587.361651  0.000000e+00   587.361651   587.361651    0.000000

[260 rows x 5 columns]

In [23]:
co2_summary.describe()

              mean         std          min          max        range
count   260.000000  260.000000   260.000000   260.000000   260.000000
mean    597.096603   60.495854   479.398737   739.592266   260.193529
std     179.869258   44.810663   149.554369   230.194226   184.122669
min     287.361848    0.000000   287.361848   287.361848     0.000000
25%     442.211924   30.023896   370.293662   594.294761   121.126692
50%     592.636969   52.828932   441.636456   708.337379   245.894916
75%     669.504224   88.943116   536.197963   872.955733   347.772577
max    1144.259515  287.996957  1144.259515  2248.851144  1834.900341

In [24]:
so2_df = df.loc[:, df.columns.str.startswith('so2')]
so2_summary = pd.DataFrame()
so2_summary['mean'] = so2_df.mean(axis=1)
so2_summary['std'] = so2_df.std(axis=1)
so2_summary['min'] = so2_df.min(axis=1)
so2_summary['max'] = so2_df.max(axis=1)
so2_summary['range'] = so2_summary['max'] - so2_summary['min']
so2_summary.describe()

             mean         std         min         max       range
count  260.000000  260.000000  260.000000  260.000000  260.000000
mean     0.279733    0.159189    0.034291    0.738757    0.704466
std      0.920629    0.462647    0.212436    2.102314    2.045042
min      0.001414    0.000000    0.001414    0.001414    0.000000
25%      0.002235    0.000178    0.001870    0.003022    0.000911
50%      0.003067    0.000365    0.002228    0.003754    0.001544
75%      0.003707    0.000690    0.002709    0.006492    0.002661
max      6.710578    3.773467    2.432858   17.759540   17.757446

In [27]:
heat_rate_df = df.loc[:, df.columns.str.startswith('heat_rate')]
heat_rate_summary = pd.DataFrame()
heat_rate_summary['mean'] = heat_rate_df.mean(axis=1)
heat_rate_summary['std'] = heat_rate_df.std(axis=1)
heat_rate_summary['min'] = heat_rate_df.min(axis=1)
heat_rate_summary['max'] = heat_rate_df.max(axis=1)
heat_rate_summary['range'] = heat_rate_summary['max'] - heat_rate_summary['min']
heat_rate_summary.describe()

             mean         std         min         max       range
count  260.000000  260.000000  260.000000  260.000000  260.000000
mean    10.084210    0.957062    8.299863   12.389659    4.089796
std      2.257628    0.675377    1.853317    2.962368    2.532382
min      5.330062    0.000000    5.330062    5.330062    0.000000
25%      8.202637    0.411728    6.869697   10.674126    2.102799
50%     10.226887    0.797859    8.078225   12.475526    3.979135
75%     11.691104    1.421510    9.418182   14.672416    5.804756
max     21.130069    3.312301   21.130069   25.491998   17.808804